.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  width: 100% !important;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  position: relative;
  border: 1px solid rgb(221, 221, 224);
  border-radius: 8px;
}

.card img {
  display: block;
  border-radius: 8px;
}

.card-front {
  position: absolute;
  transform: rotateY(90deg);
}

.card-back {
  cursor: pointer;
  transform: rotateY(0deg);
}

.rotated .card-front {
  transform: rotateY(0deg);

}

.rotated .card-back {
  transform: rotateY(90deg);

}

.btn {
  padding: 20px 10px;
  border: none;
  border-radius: 8px;
  color: white;
}

.btn-primary {
  background-color: rgb(125, 125, 225);
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: rgb(111, 111, 212);
}

.replay-btn {
  margin-top: 40px;
}